// Colors
$c-main: #ECC561;
$c-text: #FFF;
$c-border: #CCC;

// Typography
$f-sans: "Helvetica Neue", Helvetica, Arial, sans-serif;

// MediaQueries Breakpoints
// See https://github.com/carloscabo/mqbe and ./utils for both js and sass media queries helpers
$mobile: 767px;
$tablet: 1023px;
$small-desktop: 1200px;
